<% include ../partials/header %>

<div class = "container">
    <div class = "row">
        <div class = "col-md-9">
            <div class = "thumbnail">
                <img class = "img-responsive" src = "<%=product.image%>">
                <div class = "caption-full">
                    <h4 class = "pull-right">$<%= product.price %>/qty</h4>
                    <h4><a><%=product.name%></a></h4>
                    <p><%=product.description%></p>
                    <p>
                        <em>Sold By <%= product.seller.username %></em>
                    </p>
                    <% if(currentUser && product.seller.id.equals(currentUser._id)){ %>
                    <a class = "btn btn-warning" href = "/products/update-product/<%=product._id %>">Edit</a>
                    <form class = "delete-form" action ="/products/<%=product._id%>?_method=DELETE" method = "POST">
                        <button class = "btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>
